*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f5f5;
}

/* HEADER */

header{
background:#ff6b6b;
color:white;
padding:20px;
text-align:center;
font-size:22px;
}

/* HERO SECTION */

.hero{
height:350px;
background:
linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url("https://images.unsplash.com/photo-1498837167922-ddd27525d352") center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero h2{
font-size:42px;
}

.hero p{
color:#eee;
}

/* SEARCH BOX */

.search-box{
margin-top:20px;
margin-bottom:20px;
}

.search-box input{
padding:12px;
width:260px;
border:none;
border-radius:5px;
}

.search-box button{
padding:12px 18px;
border:none;
background:#ff6b6b;
color:white;
border-radius:5px;
cursor:pointer;
}

/* CATEGORY BUTTONS */

.categories{
margin-top:60px;
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:12px;
}

.categories button{
padding:10px 18px;
border:none;
border-radius:25px;
background:white;
cursor:pointer;
font-weight:bold;
transition:0.3s;
}

.categories button:hover{
background:#ff6b6b;
color:white;
transform:scale(1.05);
}

/* RECIPES SECTION */

.recipes-section{
background:linear-gradient(135deg,#fff6f6,#ffe9e9);
padding-bottom:40px;
}

.results-title{
text-align:center;
padding-top:30px;
font-size:28px;
color:#333;
}

/* RECIPE GRID */

#recipes{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

/* RECIPE CARD */

.recipe{
background:white;
border-radius:12px;
overflow:hidden;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
transition:0.3s;
cursor:pointer;
}

.recipe:hover{
transform:translateY(-6px);
box-shadow:0 12px 25px rgba(0,0,0,0.2);
}

.recipe img{
width:100%;
}

.recipe h3{
padding:10px;
color:#444;
}

/* POPUP MODAL */

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
padding:20px;
border-radius:10px;
max-width:500px;
width:90%;
text-align:center;
}

.modal-content img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

.close{
float:right;
font-size:25px;
cursor:pointer;
}

.watch-btn{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:#ff6b6b;
color:white;
text-decoration:none;
border-radius:5px;
}